<section id="ficha_aparato">
	<form id="aparato" method="post">
				<fieldset>
								<legend>Ficha equipo</legend>
								<ul>
												<li><label>Número de Serie:</label><input type="text" name="nserie"></li>
												<li><label>Marca:</label><input type="text" name="marca"></li>
												<li><label>Modelo:</label><input type="text" name="modelo"></li>
												<li><input type="submit"></li>
								</ul>
				</fieldset>
	</form>
</section>
