<!doctypehtml> 
<html lang="es">
<head>
	<meta charset="utf8">
</head> 
<body>
	<header> 
	</header>
	<div id="flash_message">
			<% if flash[:error] %> 
							<p class="error"><%= @flash[:error] %></p> 
			<% end %> 
			<% if flash[:notice] %> 
							<p class="notice"><%= @flash[:notice] %></p> 
			<% end %>
	</div>
	<div id="main"> 
		<%= yield %>
	</div> 
	<footer>
	</footer>
</body>
<script src="/js/jquery-1.7.1.js"></script>
<script>
				$(document).ready(function() {
								     alert('kk');
						 });
</script>
</html>
