<section id="ficha_persona">
	<form id="persona" method="post">
				<fieldset>
								<legend>Ficha equipo</legend>
								<ul>
												<li><label>Telefono fijo:</label><input type="text" name="telefono_fijo">
													  <label>Telefono móvil:</label><input type="text" name="movil"></li>
												<li><label>Nombre:</label><input type="text" name="nombre">
												<label>Primer Apellido:</label><input type="text" name="apellido1">
											  <label>Segundo Apellido:</label><input type="text" name="apellido2">
												<label>dni:</label><input type="text" name="dni"></li>
												<li><input type="submit"></li>
								</ul>
				</fieldset>
	</form>
</section>
