
<div id="busqueda">
	<section id="busqueda">
		<form action="/recepcion" method="post">
				<fieldset>
								<legend>Busqueda equipo</legend>
								<label>Número de serie</label><input type="text" name="nserie">
				</fieldset>
		</form>
	</section>
</div>


