<div id="busqueda">
	<section id="busqueda">
		<form action="/recepcion" method="post">
				<fieldset>
								<legend>Busqueda equipo</legend>
								<label>Número de serie</label><input type="text" name="nserie">
				</fieldset>
		</form>
		</section>
</div>
<div id="equipo">
				<%= erb :equipo , :layout => false%>
</div>
<div id="persona">
				<%= erb :persona , :layout => false%>
</div>
<div id="recepcion">
				<%= erb :entrega , :layout => false%>
</div>
