<div id="busqueda">
	<section id="busqueda">
		<form action="/recepcion" method="post">
				<fieldset>
								<legend>Busqueda equipo</legend>
								<label>Número de serie</label><input type="text" name="nserie">
								<input type="submit" value="Buscar!">
				</fieldset>
		</form>
		</section>
</div>
<div id="datos">
</div>
<div id="recepcion">
				<%= erb :entrega , :layout => false%>
</div>
